.storeInformation{
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin-top: 24px;
    padding: 32px 16px 24px;
    width: 100%;

    .title{
        h2{
            color: rgba(0,0,0,.9);
            font-size: 1.125rem;
            font-weight: 400;
            margin-bottom: 28px;
            width: 100%;
        }
    }
    .store{
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        img{
            height: 48px;
            width: 48px;
        }
        .storeContent{
            h2{
                color: #000;
                font-size: 0.875rem;
            }
            p{
                font-size: 0.875rem;
                color: rgba(0,0,0,.55);
            }
        }
    }
}