.footer{
    background-color: var(--white);
    .footerMidle{
        text-align: center;
        border-bottom: 1px solid #eee;

        button{
            border: 1px solid #eee;
            background-color: #fff;
            position: relative;
            bottom: -2px;
            color: #666;
            cursor: pointer;
            padding: 0 20px;
            height: 32px;
            line-height: 38px;
            font-size: 12px;
            font-weight: 400;
            border-radius: 5px 5px 0 0;
            position: relative;
            display: flex;
            margin: auto;
            
            svg{
                position: relative;
                font-size: 18px;
                font-weight: 600;
                bottom: -8px;
            }
        }
    }
    .footerBottom{
        padding: 16px 10px;
        .footerBottonTitle{
            display: flex;
            gap: 16px;

            a{
                font-size: 0.750rem;
                color: var(--black);
            }
        }
        .footerBottonContent{
            p{
                margin-top: 2px;
                font-size: 0.750rem;
            }
        }
    }

}